@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
}
body {
    background: url('../imagens/fundo.jpg') repeat top center;
    background-size: contain;
    background-attachment: fixed;
}
main {
    position: relative;
    height: 100vh;
    
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
    background: url('../imagens/frame-iphone.png') no-repeat;
   
}

iframe#tela {
    position: relative;
    top: 79px;
    left: 21px;

    width: 269px;
    height: 473px;
}

section#redes-sociais {
    text-align: right;
}

section#redes-sociais img {
    width: 48px;
    margin: 5px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.404);
    box-sizing: border-box;
    
}

section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.603);
    transform: scale(1.3);
    transition: scale 0.3s;
}